body {
	margin: 0;
	background-color: #232323;
	font-family: "Montserrat", "Avenir";//add fall-back to sans-serif
}

h1 {
	margin: 0;
	padding: 20px 0;
	text-align: center;
	line-height: 1.1;
	color: #fff;
	background: steelblue;
	text-transform: uppercase;
}

button {
	height: 100%;
	border: none;
	background: none;
	text-transform: uppercase;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	outline: none;
}

button:hover {
	color: white;
	background: steelblue;
}


#container {
	max-width: 600px;
	margin: 20px auto;
}

#colorDisplay {
	font-size: 200%;
}

#message {
	display: inline-block;
	width: 20%;
}

#stripe {
	height: 30px;
	background: white;
	text-align: center;
	color: #000;
}

.square {
	float: left;
	width: 30%;
	margin: 1.66%;
	border-radius: 15%;
	padding-bottom: 30%;
	background: purple;
	transition: background 0.6s;
}

.selected {
	color: white;
	background: steelblue;
}


